h1 {
  font-size: 4rem;
}

.about-section {
  color: white;
  background: url("../img/about-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.mission-section {
  color: white;
  background: url("../img/mission-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 5rem;
}

.btn-white {
  color: white;
  border: none;
  background-color: transparent;
}

.btn-white:focus, .btn-default:hover {
  color: #bfe1fc;
  border: none;
  outline: none;
  background-color: transparent;
}

ul.footer-social-buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

@media (max-width: 1199px) {
  ul.footer-social-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  ul.footer-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.footer-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.gallery {

}
