h1 {
  font-size: 4rem;
}

.about-section {
  color: white;
  background: url("../img/vm-header.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.about-section .vm {
    background: url("../img/vm-header.jpg") no-repeat center center scroll;
}

.alumni {
  color: white;
  background: url("../img/carousel3.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.chairs-section {
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.chairs-section .vm {
}

.btn-white {
  color: white;
  border: none;
  background-color: transparent;
}

.btn-white:focus, .btn-default:hover {
  color: #bfe1fc;
  border: none;
  outline: none;
  background-color: transparent;
}

ul.footer-social-buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

@media (max-width: 1199px) {
  ul.footer-social-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  ul.footer-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.footer-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.careers {
  padding-bottom: 2rem;
}

.join {
  color: white;
  background: url("https://farm5.staticflickr.com/4746/39321417945_b932bf273b_b.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
