body {
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

hr {
    border-top: 1px solid white;
    color: white;
    overflow: visible;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 0.1rem;
}


h1,
h2 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 35px;
  letter-spacing: 1px;
}
h3,
h4,
h5,
h6 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 500;
  margin: 0 0 35px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-bottom: 2px solid #bfe1fc;
  color: black;
}

a:focus, a:hover {
  text-decoration: none;
  color: #bfe1fc;
}

#mainNav {
  font-family: 'Alegreya Sans', sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: black;
  border: 1px solid white;
}

#mainNav a {
  border-bottom: none;
  color: black;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  outline: none;
  border-bottom: 2px solid #bfe1fc;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

#mainNav.navbar-shrink a {
  color: black;
}

.black-bg {
  background-color: black;
}

#mainNav .white_bg {
  background-color: white;
}

#mainNav .black_a a {
  color: black;
}

.dropdown-item:hover{
  background-color: #bfe1fc;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  /* background: url("../img/intro-bg.jpg") no-repeat bottom center scroll; */
  background-color: white;
  background: url("../img/building1.jpg") no-repeat center center scroll;
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

.masthead .intro-body {

  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 10px;
}

.masthead .intro-body .intro-text {
  font-size: 8px;
}

.icon {
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 0px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 32px;
  }
  .masthead .intro-body .intro-text {
    font-size: 18px;
  }
}


  .abttext {
    color: black;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.col-lg-4:hover .overlay {
  opacity: 0.9;
}

.toptext {
  position: absolute;
  top: 0;
  bottom: 1.5;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bottext {
  text-align: center;
  margin-top: 0.2rem;
  opacity: 1;
  transition: .5s ease;
  background-color: none;
}

.col-lg-1:hover .toptext {
  opacity: 1;
}

.col-lg-1:hover .bottext {
  opacity: 1;
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: #91bbff;
}

.content-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.committee-section {
  color: white;
  background: url("../img/building2.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.committee-section a {
  color: white;
}

.contact-section {
  color: black;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 7rem;
    padding-bottom: 10rem;
  }
  #map {
    height: 350px;
  }
}

.dropdown-item a {
  color: black;
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
  color: #bfe1fc;
}

.btn-default {
  color: black;
  border: 1px solid black;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: #bfe1fc;
  border: 1px solid #bfe1fc;
  outline: none;
  background-color: transparent;
}

.btn-social {
  color: black;
  border: none;
  background-color: transparent;
}

.btn-social:focus, .btn-social:hover {
  color: #bfe1fc;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-black {
  color: black;
  border: none;
  background-color: transparent;
}

.btn-black:focus, .btn-default:hover {
  color: #bfe1fc;
  border: none;
  outline: none;
  background-color: transparent;
}


.wbutton {
  color: white;
  border: 1px solid white;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 0 0;
  background-color: white;
  color: black;
}

footer p {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 1199px) {
  footer {
    padding: 0 0;
  }
}

::-moz-selection {
  background: #bfe1fc;
  text-shadow: none;
}

::selection {
  background: #bfe1fc;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.blkhover:hover {
  background-color: black;
}

.gallery {
  height: 42rem;
}

.abtbox {
  padding-left: 35px;
  padding-right: 35px;
}

.descr {
  display: none;
}

@media (max-width: 1000px) {
  .carousel-caption {
    padding-bottom: 0px;
    bottom: 0px;
  }
  .car-block {
    width: 30%;
  }
  .abtbox {
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .descr {
    display: block;
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  .overlay {
    display: none;
  }
  .blkhover {
    width: 7rem;
  }
  .gallery {
    height: 34rem;
  }
}


@media (max-width: 768px) {
  .carousel {
    padding-top: 50px;
  }
  .carousel-caption {
    padding-bottom: 0px;
    bottom: 0px;
  }
  .car-block {
    width: 40%;
  }
  .abtbox {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .blkhover {
    width: 33%;
  }
  .gallery {
    height: 25rem;
  }
  .careers {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#logos {
  padding: 30px;
  background-color: #DFDFDF;
  color: #A7A7A7;
  font-size: 1.5rem;
}

.clogo img {
  margin: 2% auto;
  display: block;
  height: 30px;
  width: auto;
}
