RewriteEngine On

Redirect 301 /apply.html https://docs.google.com/forms/d/e/1FAIpQLSepqK_qHo1_DEIsrsoBHXU-0hUcolx6XFU6aimZOvryCk0Hmg/viewform

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
