RewriteEngine On

Redirect 301 /apply.html https://docs.google.com/forms/d/e/1FAIpQLScl8ABwd2rWgVCH1zjtVOw-5XGNokbeRKx9C3akAhiJ5xN-1w/viewform

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
